html,
body {
    background-color: #4285F4 !important;
    color: #f3e0dce1 !important;
    font-size: 1em;
    text-align: center;
    font-family: 'Oxygen', sans-serif !important;
}


.container {
    position: relative;
    top: 100px;
}

.changer {
    display: flex;
    justify-content: space-around;
}


#tabloid {
    border: 1px solid white;
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
}

.fa:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 314px) {
    #tabloid {
        width: 200px;
    }
}

@media only screen and (max-width: 215px) {
    #tabloid {
        width: 100px;
    }
}